@font-face {
    font-family: "Bebas";
    src: url("fuentes/BebasNeue/BebasNeue-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "RobotoRegular";
    src: url("fuentes/RobotoCondensed/RobotoCondensed-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "RobotoBold";
    src: url("fuentes/RobotoCondensed/RobotoCondensed-Bold.ttf");
    font-weight: normal;
}

/*------------------ BODY ------------------*/ 

html {
    scroll-behavior: smooth;
}

h1, h2, h3, p {
    color: #292627;
}

h1, h2, h3 {
    font-family: Bebas;
}

p, a {
    font-family: RobotoRegular;
}

body {
    margin: 0;
}

span {
    color: #292627;
}

hr {
    width: 1500px;
    color: #7A7A7A;
}

.scroll {
    height: 100%;
    overflow-y: hidden;
 }

/*------------------ HEADER ------------------*/ 

.header {
    background-color: #e3e3e3;
}


.imagen-header {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: end;
}

#imagen-header-mobile-negativo {
    display: none;
}

#bdark{
    color: white;
    font-family: RobotoRegular;
    font-size: 1em;
    margin-left: 675px;
    margin-right: 50px;
    background-color: #4d4d4d;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition: background-color 0.5s;
}

#bdark:hover {
    background-color: rgb(128, 128, 128)
}

/*------------------ INICIO ------------------*/ 

.inicio {
    background-color: #e3e3e3;
    display: flex;
}

.grid-inicio {
    display: grid;
    margin-left: 50px;
    margin-top: 25px;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: 
    "titulo"
    "subtitulo"
    "boton";
}

.grid-inicio h1 {
    font-size: 5em;
    color:#e3e3e3;
    letter-spacing: 3px;
    text-shadow:
    -1.5px -1.5px 0 #292627,
     0   -1.5px 0 #292627,
     1.5px -1.5px 0 #292627,
     1.5px  0   0 #292627,
     1.5px  1.5px 0 #292627,
     0    1.5px 0 #292627,
    -1.5px  1.5px 0 #292627,
    -1.5px  0   0 #292627;
}

.grid-inicio p {
    font-size: 3em;
}

#titulo {
    grid-area: titulo;
    align-self: center;
}

#subtitulo {
    grid-area: subtitulo;
    align-self: center;
}

#subtitulo span {
    font-family: robotoBold;
}

#boton-uno {
    grid-area: boton;
    justify-self: end;
    align-self: center;
}

.imagen-inicio-mobile {
    display: none;
    justify-content: end;
}

.imagen-inicio-mobile img {
    width: 600px;
    height: 600px;
}

.imagen-inicio {
    display: flex;
    justify-content: end;
}

.imagen-inicio img {
    width: 600px;
    height: 600px;
}

.boton-inicio {
    padding-right: 200px;
}

.boton-inicio :hover {
    background-color: #00c3ff;
}

.boton-inicio a{
    transition: background-color 0.5s;
    text-decoration: none;
    color: #1A1818;
    background-color: #00B0E8;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 60px;
    border-radius: 20px;
    font-family: RobotoBold;
    font-size: 1.50em;
}

/*------------------ CONOCENOS ------------------*/ 

.conocenos {
    background-color: #BBDCEB;
    padding-top: 75px;
    padding-bottom: 75px;
}

.conocenos h2 {
    text-align: center;
    font-size: 3.25em;
    margin-top: 0;
}

.conocenos p {
    font-size: 2em;
    padding-left: 50px;
    padding-right: 50px;
}

.conocenos span {
    font-family: RobotoBold;
}

/*------------------ CODIGO ------------------*/ 

.codigo {
    background-color: #93D2ED;
    padding-top: 75px;
    padding-bottom: 75px;
}

.codigo h2 {
    text-align: center;
    font-size: 3.25em;
    margin-top: 0;
}

.grid-codigo {
    display: grid;
    margin-left: 50px;
    margin-top: 25px;
    grid-template-columns: 55% 40%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "texto imagen";
}

.codigo p {
    font-size: 2.5em;
}

#texto {
    grid-area: texto;
}

#texto span {
    font-family: RobotoBold;
}

#imagen-regalo {
    grid-area: imagen;
    justify-self: center;
}

.imagen-regalo img {
    width: 450px;
    height: 450px;
}

/*------------------ CARRUSEL ------------------*/ 

.carrusel {
    background-color: #66C4EC;
    padding-top: 75px;
    padding-bottom: 75px;
    height: 542px;
}

.carrusel h2 {
    text-align: center;
    font-size: 3.25em;
    margin-top: 0;
    margin-bottom: 0;
}

.secciones {
    margin-top: 200px;
    margin-bottom: 250px;
    text-align: center;
    line-height: 25px;
    color: white;
    display: flex;
    justify-content: center;
}
  
.carousel-container {
    display: grid;
    grid-template-columns: 150px 900px 150px;
    grid-template-rows: 100px;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#left-arrow{
    justify-self: start;
    filter: invert(90%) sepia(0%) saturate(780%) hue-rotate(117deg) brightness(96%) contrast(88%);
}

#right-arrow{
    justify-self: end;
    filter: invert(90%) sepia(0%) saturate(780%) hue-rotate(117deg) brightness(96%) contrast(88%);
}
  
.carousel {
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}
.carousel-arrow {
    height: 100%;
    padding: 2rem 0;
}

.carousel-card {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    font-family: RobotoRegular;
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: 500ms;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 0.6rem;
    transform: translateX(-50%);
}

.carousel-card h4 {
    position: absolute;
    margin: 0;
    font-size: 2.5em;
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0%;
    width: 100%;
    padding-top: 12%;
    padding-bottom: 12%;
}

.carousel-card > div {
    padding: 0.4rem;
  }
  
.carousel-card-0 {
    width: 20%;
    z-index: 1;
    left: 15%;
    font-size: 0.25em;
}

.carousel-card-1 {
    width: 30%;
    z-index: 2;
    left: 30%;
    font-size: 0.5em;
}
.carousel-card-2 {
    width: 45%;
    z-index: 3;
    left: 50%;
    font-size: 0.75em;
}
.carousel-card-3 {
    width: 30%;
    z-index: 2;
    left: 70%;
    font-size: 0.5em;
}
.carousel-card-4 {
    width: 20%;
    z-index: 1;
    left: 85%;
    font-size: 0.25em;
}

.carousel-card-5 {
    width: 15%;
    z-index: 0;
    left: 95%;
    font-size: 0.15em;
}

.carousel-card-6 {
    width: 15%;
    z-index: 0;
    left: 5%;
    font-size: 0.15em;
}

/*------------------ BULLETS ------------------*/ 

.bullets {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #34B0E5;
    display: flex;
    justify-content: center;
}

.bullet {
    padding-left: 75px;
    text-align: center;
    width: 300px;
}

.bullet span {
    font-family: RobotoBold;
}

#signodos {
    display: none;
}

#relojdos {
    display: none;
}

#papeldos {
    display: none;
}

.bullet h3 {
    font-size: 2em;
}

.bullet p {
    font-size: 1.5em;
}

/*------------------ FORMULARIO ------------------*/ 

.formulario {
    background-color: #e3e3e3;
}

.grid-formulario {
    display: grid;
    padding-left: 50px;
    padding-top: 75px;
    grid-template-columns: 10% 60%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "joystick textos";
}

#joystick-img {
    grid-area: joystick;
    justify-self: center;
    align-self: center;
}

#joystick-img-d {
    display: none;
}

#textos {
    grid-area: textos;
    align-self: center;
}

.texto-form h2 {
    color: #1A5670;
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 0;
}

.texto-form p {
    font-size: 1.5em;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}

.formularios {
    padding-top: 75px;
    padding-left: 75px;
}

.grid-formulario2 {
    display: flex;

}

.textos-refe {
    font-family: RobotoRegular;   
}

.campos-espacios {
    margin-bottom: 50px;
    font-size: 1.5em;
}

input[type="text"] {
    color: #7A7A7A;
    background-color: #D9D9D9;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    font-family: RobotoBold;
    width: 700px;
    height: 60px;
    font-size: 0.25in;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

input[type="email"] {
    color: #7A7A7A;
    background-color: #D9D9D9;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    font-family: RobotoBold;
    width: 700px;
    height: 60px;
    font-size: 0.25in;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/*------------------ DROPBOX ------------------*/ 

.container{
    position: relative;
    margin: 10px auto 30px;
}

.select-btn{
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 30px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #D9D9D9;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.select-btn .btn-text{
    font-size: 0.25in;
    font-weight: 400;
    color: #757575;
    font-family: RobotoBold;
}

.select-btn .arrow-dwn{
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    color: black;
    background: #D9D9D9;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.select-btn.open .arrow-dwn{
    transform: rotate(-180deg);
}

.list-items{
    position: relative;
    margin-top: 15px;
    border-radius: 15px;
    padding: 16px;
    background-color: #D9D9D9;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-btn.open ~ .list-items{
    display:block;
}

.list-items .item{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 8px;
}

.list-items .item:hover{
    background-color: #b9b9b9;
}

.item .item-text{
    font-size: 0.25in;
    font-weight: 400;
    color: #757575;
    font-family: RobotoBold;
}

.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 2px solid #757575;
    transition: all 0.3s ease-in-out;
}

.item.checked .checkbox{
    background-color: #34B0E5;
    border-color: #34B0E5;
}

.checkbox .check-icon{
    color: #ffffff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.item.checked .check-icon{
    transform: scale(1);
}

/*------------------ FIN DEL DROPBOX ------------------*/ 

.imagen-formulario {
    padding-left: 250px;
}

.imagen-formulario img {
    border-radius: 50%;
}

.boton2 {
    padding-top: 15px;
    padding-bottom: 50px;
    text-align: center;
}

#boton-enviar {
    cursor: pointer;
    text-decoration: none;
    background-color: #00B0E8;
    color: #1A1818;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 60px;
    border-radius: 20px;
    font-family: RobotoBold;
    font-size: 1.50em;
    border: none;
    transition: background-color 0.5s;
}

.feedback p {
    color: #1A1818;
}

.boton-modal label:hover{
    background-color: #00c3ff;
}

.oculto {
    display: none;
}

.visible {
    display: flex;
}

.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.imagen-cartel {
    display: flex;
    justify-content: center;
    background-color: #93D2ED;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 15px 15px 0px 0px;
}

.imagen-cartel img {
    width: 100px;
}

.content-modal{
    width: 100%;
    max-width: 475px;
    background-color: #fff;
    border-radius: 15px;
}

.content-modal h2{
    color: #1A5670;
    margin-bottom: 15px;
    text-align: center;
    font-family: RobotoRegular;
    font-size: 1.5em;
}

.content-modal p{
    padding-bottom: 15px;
    margin-top: 0;
    text-align: center;
    font-family: RobotoRegular;
    font-size: 1.1em;
}

#email-placeholder {
    font-family: RobotoBold;
}

.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.content-modal .btn-cerrar label{
    cursor: pointer;
    text-decoration: none;
    background-color: #00B0E8;
    color: #1A1818;
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    border-radius: 15px;
    margin-bottom: 20px;
    font-family: RobotoBold;
    font-size: 1.25em;
    border: none;
    transition: background-color 0.5s;
}

.content-modal .btn-cerrar label:hover{
    background-color:#00c3ff;
}

.cerrar-modal{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}

.btn-cerrar {
    font-family: RobotoRegular;
}

#nickname-placeholder {
    color: #1A5670;
}

/*------------------ FOOTER ------------------*/ 

.footer {
    background-color: black;
    padding-top: 50px;
}

.grid-footer {
    padding-left: 50px;
    display: grid;
    grid-template-columns: 30% 40% 6% 6% 6% 6%;
    grid-template-rows: 35% 25% 25%;
    justify-content: center;
    align-content: start;
    grid-template-areas: 
    "text1 text4 text7 text7 . ."
    "text2 text5 imagen1 imagen2 imagen3 imagen4"
    "text3 text6 imagen1 imagen2 imagen3 imagen4";
}

#text1 {
    grid-area: text1;
}

#text2 {
    grid-area: text2;
}

#text3 {
    grid-area: text3;
}

#text4 {
    grid-area: text4;
}

#text5 {
    grid-area: text5;
}

#text6 {
    grid-area: text6;
}

#text7 {
    grid-area: text7;
}

#imagen1 {
    grid-area: imagen1;
    cursor: pointer;
}

#imagen2 {
    grid-area: imagen2;
    cursor: pointer;
}

#imagen3 {
    grid-area: imagen3;
    cursor: pointer;
}

#imagen4 {
    grid-area: imagen4;
    cursor: pointer;
}

.color-claro {
    color: white;
    font-size: 1.5em;
}

.color-oscuro {
    color: #7A7A7A;
    font-size: 1.5em;
}


#copyright {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    font-size: 1.5em;
}

input:-webkit-autofill,input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{
    -webkit-text-fill-color: #7A7A7A;
    transition: background-color 5000s ease-in-out 0s;
}